/***********************************************
                    Variables
***********************************************/

:root{
 
--Header-Footer-Background-Color:#1e4040;
--Text-Icon-Color: #1e4040;
--Link-text-color:#71d99e;

--Outer-grid-header:rgba(0, 31, 255, 0.5);
--Outer-grid-navbar: rgba(236, 19, 121, 0.61);
--Outer-grid-main-area:rgba(106, 18, 195, 0.61);

--Inner-Grid0 :rgba(255, 122, 0);
--Inner-Grid04 :rgba(255, 122, 0, 0.4);
--Inner-Grid07 :rgba(255, 122, 0, 0.7);

--font-family--Dosis: 'Dosis', sans-serif;
}
/***********************************************
                  CSS Reset
***********************************************/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}/***********************************************
                  Shared css
***********************************************/

html{
  font-family: var(--font-family--Dosis);
  font-size: 16px;
  font-weight: 400, 700;
  color: var(--Header-Footer-Background-Color);
}
main, aside{
  padding: 20px 5%;
}
a{
  color: var(--Link-text-color);
}
h1, h2 , h3{
  margin-top: 10px;
  margin-bottom: 20px;
}
p{
  margin-bottom: 15px;
}
img{
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
/***********************************************
            CSS Outer Grid styles
***********************************************/
.outer-grid{
  display: grid;
  height: 100dvh;
  
  grid-template-rows: 70px 1fr;
  grid-template-columns: 90px 1fr;
  grid-template-areas: 
    "alias-header alias-header"
    "alias-innergrid alias-innergrid";
}

.outer-grid-expanded{
  grid-template-areas: 
  "alias-header alias-header"
  "alias-nav alias-innergrid";
}

.hide-nav{
  display: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: alias-header;
  padding: 0 20px;
  background-color: var(--Header-Footer-Background-Color);
  color: var(--Link-text-color);
}
.left-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.fa-bars{
  margin-right: 10px;
  transition: transform 0.2s;
}
.fa-bars:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.5);
}
.header-link{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
/***********************************************
            CSS Nav styles
***********************************************/
nav{
  grid-area: alias-nav;
  padding-top: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: var(--Header-Footer-Background-Color);
}
.nav-link:hover{
  cursor: pointer;
  opacity: 0.8;
}
.nav-link > a {
  color: var(--Header-Footer-Background-Color);
}

/***********************************************
            CSS Footer styles
***********************************************/
footer p{
  color: white;
  margin: 0;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
/***********************************************
            CSS Inner Grid styles
***********************************************/
.inner-grid{
  overflow-y: scroll;
  display: grid;
  grid-area: alias-innergrid;
 
  grid-template-rows: 1fr auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: 
                      " alias-main alias-main"
                      "alias-aside alias-aside"
                      " alias-footer alias-footer";
}

main{
  grid-area: alias-main;
  
  padding: 20px 5%;
}

aside{
  grid-area: alias-aside;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
footer{
  grid-area: alias-footer;
  background-color: var(--Header-Footer-Background-Color);
  color: var(--Link-text-color);
}
/***********************************************
            Collage
***********************************************/
.collage{
  height: 550px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 40px 1fr 40px 1fr;
  align-items: center;
} 
.collage *{
  grid-row-start: 1;
  grid-row-end: 2;
}
.collage-1{
 grid-column-start: 1;
 grid-column-end: 3;
 z-index: 1;
 transform: rotate(-3deg);
 transition: transform 0.5s;
}
.collage-1:hover{
  transform: scale(1.2);
}
.collage-2{
  grid-column-start: 2;
  grid-column-end: 5;
  z-index: 2;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.7s;
}
.collage-2:hover{
  transform: scale(1.2);
}
.collage-3{
  grid-column-start: 4;
  grid-column-end: 6;
  z-index: 1;
  transform: rotate(3deg);
  transition: transform 0.5s;
}
.collage-3:hover{
  transform: scale(1.2);
}
/***********************************************
                Break Points
***********************************************/
@media (min-width:576px){
  nav{
    display: block !important;
  }
  .outer-grid{
    grid-template-areas: 
    "alias-header alias-header"
    "alias-nav alias-innergrid";
  }
  .fa-bars  {
    display: none !important;
  }
}
@media (min-width:992px){
  .inner-grid{
    grid-template-rows: 1fr 60px;
    grid-template-columns: minmax(auto, 700px) 1fr;
    grid-template-areas: 
                        " alias-main alias-aside"
                        " alias-footer alias-footer";
  }
  aside{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (min-width:1440px){
  .outer-grid{
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas:
     "alias-header alias-header alias-header"
     "alias-nav alias-innergrid alias-innergrid";
  }
  header{
  display: grid;
  grid-template-columns: 1fr 950px 1fr;
  grid-template-areas: "alias-lh . alias-rh";
  }
  .left-header{
    grid-area: alias-lh;
    justify-self: end;
  }
  .right-header{
    grid-area: alias-rh;
    justify-self: start;
  }
  nav{
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
  }
}